<h1>Gallery</h1>
<div id="scrollingcontent">
  <div class="listitems" id="content">
    <div class="listitempage" data-url="/items" data-pagination='
      [ <a href="/items?page=2">Next</a> ] 1
      <a href="/items?page=2">2</a>
      <a href="/items?page=3">3</a>
      <a href="/items?page=4">4</a>
      <a href="/items?page=5">5</a>
      <a href="/items?page=7">6</a>
      <a href="/items?page=8">8</a>
      <a href="/items?page=9">9</a>
      <a href="/items?page=10">10</a>
      <a href="/items?page=11">11</a>
      <a href="/items?page=12">12</a>
    '>
      <div class="listpagination">
        Page 1
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>Miranda</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=1" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>Face</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=2" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>Lizard</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=3" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>Octopus</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=4" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>River</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=5" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>River</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=6" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>River</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=7" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>River</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=8" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>River</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=9" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>River</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=10" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>River</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=11" %>
        <p class="itemsub">
          View
        </p>
      </div>

      <div class="listitem" data-page-url="/items">
        <h2>River</h2>
        <%= link_to image_tag("gallery/placeholders/287.jpg"), href: "item?id=12" %>
        <p class="itemsub">
          View
        </p>
      </div>

    </div>
  </div>
</div>

<div id="pagination">
{ <a href="/items?page=2">Next</a> } 1
  <a href="/items?page=2">2</a>
  <a href="/items?page=3">3</a>
  <a href="/items?page=4">4</a>
  <a href="/items?page=5">5</a>
  <a href="/items?page=6">6</a>
  <a href="/items?page=7">7</a>
  <a href="/items?page=8">8</a>
  <a href="/items?page=9">9</a>
  <a href="/items?page=10">10</a>
  <a href="/items?page=11">11</a>
  <a href="/items?page=12">12</a>
</div>
