<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=PT+Serif:400,400i|Raleway:400,700,900i" %>
    <%= stylesheet_link_tag    'application', "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="canonical" href="/items" />
    <link rel="next" href="/items?page=2" />

    <script>initPaginator();</script>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <%= yield %>
  <%= render 'layouts/footer' %>

  </body>
</html>
